.form-label {
    font-family: 'Mulish', sans-serif;
    font-weight: 600;
    font-size: 18pt;
    color: #04146c;
}

#emailHelp {
    font-family: 'Mulish', sans-serif;
    font-style: italic;
    font-size: 13pt;
    color: #04146c;
}

input {
    border-color: #8a9af1 !important;
}

.form-check-label {
    font-family: 'Mulish', sans-serif;
    font-size: 18pt;
    color: #04146c;
}

.btn {
    font-family: 'Mulish', sans-serif;
    font-size: 18pt;
    font-weight: 900;
    background-color: #5974ff !important;
    width: 150px;
    height: 50px;
}